body {
    padding-top: 50px;
}
.annotation{
    display:inline;
    color: #B97020;
}
.annotation-highlight {
    background-color: #FDFDBF;
    font-weight:bold;
    border:1px solid #99BEEC;
    border-radius:5px;
    transition-duration: 1s;
    -webkit-transition: 1s;
}
.annotation-item{
    padding: 0px 5px;
    font-size: 8px;
}
.conceptId{
    font-size: 12px;
    font-weight: bold;
    color: #647EAD;
}

.description{
    font-size: 12px;
    color: #587B9E;
    font-weight: bold;
    font-style: italic;
}
.selector{
    margin: 5px -10px;
}

.twitter-typeahead,.tt-query,.tt-hint {
    font-size: 14px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
}

.twitter-typeahead{
    width: 100%;
    background-color: #fff;
}

.tt-hint {
    color: #999;
}

.tt-dropdown-menu {
    width: 400px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 14px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

.tt-dropdown-menu,.gist {
    text-align: left;
}

.qtip {
    max-width: 450px;
    font-size: 11.5px;
    line-height: 13px;
}
.qtip-custom{
    background-color: rgba(250, 250, 250, 0.95);
    border-color: #ADD9ED;
    color: #5E99BD;
}

.qtip-custom .qtip-titlebar{
    background-color: #D0E9F5;
}

.qtip-custom .qtip-close .qtip-icon{
    background-position: -2px 0;
}

#tooltip-tabs li a {
    line-height: 0;
}

.tab-content > .active {
    margin-top: 5px;
}

.tree {
    color: #666;
    min-height:20px;
    padding:0px;
    background-color:#fbfbfb;
    border:1px solid #999;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
}

.tree #parent{
    margin-left: -25px;
}

.tree #parent:first-child{
    margin-left: 10px;
}
.tree #parent > li > span{
    background-color: #F5F073;
}
.tree #parent > li > ul > li > span{
    background-color: #98DB8F;
}
.tree ul{
    padding-left: 10px;
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:8px 5px 0 5px;
    position:relative
}
.tree i {
    margin-left: -4px;
    padding-right: 1px;
}
.tree em {
    color: #5E99BD;
}

.tree li::before, .tree li::after {
    content:'';
    left:-25px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:10px;
    margin-top: -5px;
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 3px 3px 6px;
    text-decoration:none;
    margin-left: -20px;
    margin-right: 3px;
    font-size: 10.5px;
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0;
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}