<div>
    <ul id="tooltip-tabs" class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#concept" role="tab" data-toggle="tab">Concept</a></li>
        <li><a href="#terms" role="tab" data-toggle="tab">Terms</a></li>
        <li><a href="#hierarchy" role="tab" data-toggle="tab">Hierarchy</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="concept" style="color:#64808D;">
            <% 
                print('<li>' + concept.id + '</li>');
                print('<li>' + _.str.capitalize(concept.category) + '</li>');
                print('<li>' + concept.description + '</li>');
            %>
        </div>
        <div class="tab-pane" id="terms" >
            <% 
                var termsArray = _.map(terms, function(term){
                    return term.term;
                });

                var uniqTerms = _.uniq(termsArray);

                _.each(uniqTerms, function(term){
                    print('<li style="color:#64808D;">' + term.substring(0, 45) + '</li>');
                });
            %>
        </div>
        <div class="tab-pane" id="hierarchy">
            <div class="tree">
                <ul id="parent">
                    <li><span><i class="glyphicon glyphicon-tree-deciduous"></i><%print(knowledgeSourceName.toUpperCase())%></span>
                        <%
                            if(arguments[0].pathToRoot){
                                var path = pathToRoot.reverse().slice(1);
                                _.each(path, function(concept, index){
                                     if (index===path.length-1){
                                         print('<ul><li><span><i class="glyphicon glyphicon-leaf"></i></span><em>'+concept.description.substring(0,40)+'</em>');
                                     }else if (index===0){
                                         print('<ul><li><span><i class="glyphicon glyphicon-tag"></i></span><em>'+concept.description.substring(0,40)+'</em>');
                                     }else{
                                         print('<ul><li><span><i class="glyphicon glyphicon-minus-sign"></i></span><em>'+concept.description.substring(0,40)+'</em>');
                                     }
                                });

                                _.times(path.length-1, function(i){
                                   print('</ul></li>');
                                });
                            }
                        %>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>