body {
    padding-top: 50px;
}
.annotation {
    display:inline;
    color: #B97020;
}
#query-box{
    background: #f4f4f4;
    border:  1px solid #ccc;
}
#query-terms{
    display: block;
    padding-left: 2px;
}
.search-term-text {
    float: left;
    list-style-type: none;
    display: list-item;
    margin: 4px auto auto 4px;
    border-radius: 5px;
    background: #947245;
    color: #fff;
    padding: 4px 8px 5px 9px;
    line-height: 12px;
}
.search-term-concept {
    float: left;
    list-style-type: none;
    display: list-item;
    margin: 4px auto auto 4px;
    border-radius: 5px;
    background: #6A89B1;
    color: #fff;
    padding: 4px 8px 5px 9px;
    line-height: 20px;
}

.must-term-concept {
    background: #449d44;
}

.should-term-concept {
    background: #f0ad4e;
}

.mustnot-term-concept {
    background: #c9302c;
}

.search-history {
    float: left;
    list-style-type: none;
    display: list-item;
    margin: 4px auto auto 4px;
    border-radius: 5px;
    color: #fff;
    padding: 4px 8px 5px 9px;
    line-height: 20px;
}

.suggest-concept{
    float: left;
    list-style-type: none;
    display: list-item;
    margin: 1px auto auto 2px;
    border-radius: 5px;
    background: #E08E52;
    color: #fff;
    padding: 4px 8px 5px 9px;
    line-height: 12px;
}
.x-close{
    color: #fff;
    margin: -4.5px 0 0 5px;
    background: transparent;
    vertical-align: middle;
    font-size: 10px;
}

#query-input{
    border: 0;
    background: transparent;
    padding-left: 8px;
    padding-top: 3px;
}

.typeahead,.tt-query,.tt-hint {
    font-size: 14px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
}

.typeahead {
    background-color: #fff;
}

.tt-hint {
    color: #999;
    padding-left: 6px;
}

.tt-dropdown-menu {
    width: 450px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 14px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

.tt-dropdown-menu,.gist {
    text-align: left;
}

.concept-name {
    margin: 0 20px 5px 20px;
    padding: 3px 0;
    border-bottom: 1px solid #ccc;
}

#panel-suggestions >.panel-heading{
    color: #FFF;
    background-color: #ff8f44;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
}

.qtip {
    max-width: 450px;
    font-size: 11.5px;
    line-height: 13px;
}
.qtip-custom{
    background-color: rgba(250, 250, 250, 0.95);
    border-color: #ADD9ED;
    color: #5E99BD;
}

.qtip-custom .qtip-titlebar{
    background-color: #D0E9F5;
}

.qtip-custom .qtip-close .qtip-icon{
    background-position: -2px 0;
}

#tooltip-tabs li a {
    line-height: 0;
}

.tab-content > .active {
    margin-top: 5px;
}

.highlight { background-color: #FDFF9E }

.top-buffer {
    margin-top: 20px;
}

.minor-buffer {
    margin-top: 10px;
}

.left-buffer {
    margin-left: 20px;
}

#filters-panel {
    background-color: #f4f4f4;
    border:  1px solid #ccc;
    max-height: 600px;
    overflow: auto;
}




.loading{
    background: url(/img/hex-loader.gif) no-repeat center;
}

.loaded {
    background: white;
}

.sugerencias {
    max-height: 600px;
    overflow: auto;
}

.bt-item > .wrapper .left-part{
    padding: 0px;
}

.bt-item > .wrapper .right-part{
    padding: 0px;
}

.bt-item > .wrapper .body-part{
    padding: 0px;
}

.vertical-center {
  min-height: 60%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 60vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.panel-heading > a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.panel-heading h4 a {
    color: #000;
}


.panel-body span {
    color: #83858B;
}

.panel-footer p {
    color: #666;
    text-align: justify;
    white-space: pre-line;
}

a > .highlight {
    color: #000;
}

.articles-body {
    overflow-y: auto;
    overflow-x: hidden;
}

#history {
    height: 750px;
    overflow-y: auto;
}

#history td {
    border-top: none;
}



.table > tbody > tr > td {
    padding: 4px;
}

/** The Magic **/
.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

/** The Spacing **/
.btn-breadcrumb .btn {
  padding:6px 12px 6px 24px;
}
.btn-breadcrumb .btn:first-child {
  padding:6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
  padding:6px 18px 6px 24px;
}

/** Default button **/
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
  border-left: 10px solid #fff;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
  border-left: 10px solid #ccc;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
  border-left: 10px solid #ebebeb;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
  border-left: 10px solid #adadad;
}


.first {
}

.second {
    width:50%;
}

.third {
    width: 25%;
}

.fourth {
    width: 25%;
}

.icon {
    height: 1.5em;
    width: auto;
    margin-right: 1em;
}